@page
@model IndexModel
@{
    ViewData["Title"] = "Início";

    Layout = "_Layout";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo ao sistema da Pet Chic!</h2>
</div>
<div class="text-center">
    <img src="~/images/logo.jpeg" width="400" height="250" />
</div>
